.data-holder {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.data-item {
  background-color: whitesmoke;
  border: 1px solid darkgray;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  font-size: 14px;
}

button {
  background-color: white;
  border: 1px solid gray;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: lightgray;
}

/* Highlight the selected button */
button.active {
  background-color: darkgray;
  color: white;
  border: 1px solid darkgray;
}
